.background {
    background-color: #343a40!important;
    color: #FFF;
    margin-top: 30px;
    border-radius: 10px;
    height: 80px;
    padding: 20px;
}

.text {
    margin-top: 10px;
}

.margin {
    margin-top: 30px;
}